#app{
    background-color: steelblue;
    height: 100vh;
    width:100vw;
}

#sidebar{
    background-color: deepskyblue;
    height:100vh;
}

#page{
    height:90vh;
}

#apod-page{
    background-color: white;
    height:82vh;
}

#rover-page{
    background-color: white;
    height:82vh;
}

#footer{
    position: relative;
    bottom: 10vh;
    left: 10vw;
}

/* APOD page relevant content */
#APOD{
    height:50vh;
    width:80vh;
}

#copyright{
    font-size: 0.7em
}

#summary{
    font-size: 0.8em
}

/* Rover psge relevant content */
#drone-cam{
    height: 50vh;
    width: 70vw;
}
